<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="border-top-0" colspan="2">
          <div class="d-table w-100">
            <div class="d-table-cell align-bottom">Headline</div>
            <div class="d-table-cell text-right">
              <select class="selectpicker" show-tick title="Sort by" data-style="btn-secondary" data-width="180px">
                <option value="" title="Sorted by Status">Status</option>
                <option value="" title="Sorted by Date">Date</option>
                <option value="" title="Sorted by Reporter">Reporter</option>
              </select>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="js-open-col-aside-details">
        <td>
          <div class="pull-right text-right ml-3">
            <span class="badge badge-warning">Needs Review</span>
          </div>
          <p class="mb-2">When it comes to roads and dams, Jerry Brown isn’t always a Trump resister.</p>
          <p class="mb-0 small"><i>~Christopher Cadelago</i> | MARCH 22, 2017 11:55 AM &nbsp; <button class="btn btn-sm btn-outline-primary align-top p-0 w-22 js-btn-read-article" hidden>+</button></p>
          {% include "/views/partials/article-content.html" %}
        </td>
      </tr>
      <tr class="js-open-col-aside-details">
        <td>
          <div class="pull-right text-right ml-3">
            <span class="badge badge-success">Complete</span>
            <div>
              <span class="badge badge-danger">2 <i class="fa fa-comment"></i></span>
            </div>
          </div>
          <p class="mb-2">Oroville Dam: Evacuation warnings lifted for Butte County.</p>
          <p class="mb-0 small"><i>~Hector Amezcua</i> | MARCH 22, 2017 12:30 PM &nbsp; <button class="btn btn-sm btn-outline-primary align-top p-0 w-22 js-btn-read-article" hidden>+</button></p>
          {% include "/views/partials/article-content.html" %}
        </td>
      </tr>
      <tr class="js-open-col-aside-details">
        <td>
          <div class="pull-right text-right ml-3">
            <span class="badge badge-success">Complete</span>
          </div>
          <p class="mb-2">Sacramento County approves broad plans to help the homeless.</p>
          <p class="mb-0 small"><i>~Ellen Garrison</i> | MARCH 21, 2017 6:59 PM &nbsp; <button class="btn btn-sm btn-outline-primary align-top p-0 w-22 js-btn-read-article" hidden>+</button></p>
          {% include "/views/partials/article-content.html" %}
        </td>
      </tr>
      <tr class="js-open-col-aside-details">
        <td>
          <div class="pull-right text-right ml-3">
            <span class="badge badge-info">Partial Review</span>
            <div>
              <span class="badge badge-danger">1 <i class="fa fa-comment"></i></span>
            </div>
          </div>
          <p class="mb-2">Miners win $100 million from Sacramento County in political influence case.</p>
          <p class="mb-0 small"><i>~Hector Amezcua</i> | MARCH 21, 2017 4:17 PM &nbsp; <button class="btn btn-sm btn-outline-primary align-top p-0 w-22 js-btn-read-article" hidden>+</button></p>
          {% include "/views/partials/article-content.html" %}
        </td>
      </tr>
      <tr class="js-open-col-aside-details">
        <td>
          <div class="pull-right text-right ml-3">
            <span class="badge badge-success">Complete</span>
          </div>
          <p class="mb-2">Two killed in White Rock Road crash: ‘An innocent person lost her life’</p>
          <p class="mb-0 small"><i>~Bill Lindelof</i> | MARCH 20, 2017 9:12 AM &nbsp; <button class="btn btn-sm btn-outline-primary align-top p-0 w-22 js-btn-read-article" hidden>+</button></p>
          {% include "/views/partials/article-content.html" %}
        </td>
      </tr>
    </tbody>
  </table>
</div>
