<div class="message-comment">
  <div class="message-history">
    <div class="message-list pt-4">
      <div class="group-by-day">
        <div class="date-separator">
          <span class="bg-faded">Today</span>
        </div>

        <div class="message-item message-self clearfix mb-30">
          <div class="bubble">
            <p>A dignissimos distinctio et hic odit optio veritatis voluptatem voluptatibus.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem expedita laborum sed! At autem commodi consequatur doloremque ea eaque.</p>
          </div>
          <div class="name">Me</div>
          <div class="timestamp"><span>10:31 AM</span></div>
        </div>

        <div class="message-item message-other clearfix mb-30">
          <div class="avatar">
            <div style="background-image:url(/assets/images/users/tim-grieve.jpg)" class="rounded-circle profile-photo" alt="Generic placeholder thumbnail"></div>
          </div>
          <div class="name">Tim Grieve</div>
          <div class="bubble">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem expedita laborum sed! At autem commodi consequatur doloremque ea eaque, quaerat quibusdam repellendus sequi voluptatibus!</p>
          </div>
          <div class="timestamp"><span>9:30 AM</span></div>
        </div>

        <div class="message-item message-other clearfix mb-30">
          <div class="avatar">
            <div style="background-image:url(/assets/images/users/craig-forman.jpg)" class="rounded-circle profile-photo" alt="Generic placeholder thumbnail"></div>
          </div>
          <div class="name">Craig Forman</div>
          <div class="bubble">
            <p>Amet at et ex minima perferendis voluptates.</p>
          </div>
          <div class="timestamp"><span>9:29 AM</span></div>
        </div>

        <div class="message-item message-self clearfix mb-30">
          <div class="name">Me</div>
          <div class="bubble">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem expedita laborum sed! At autem commodi consequatur doloremque ea eaque, quaerat quibusdam repellendus sequi voluptatibus!</p>
          </div>
          <div class="timestamp"><span>9:28 AM</span></div>
        </div>
      </div>

      <div class="group-by-day">
        <div class="date-separator">
          <span class="bg-faded">March 22 2017</span>
        </div>

        <div class="message-item message-self clearfix mb-30">
          <div class="bubble">
            <p>A dignissimos distinctio et hic odit optio veritatis voluptatem voluptatibus.</p>
          </div>
          <div class="name">Me</div>
          <div class="timestamp"><span>3/22 <br/> 9:40 AM</span></div>
        </div>

        <div class="message-item message-other clearfix mb-30">
          <div class="avatar">
            <div style="background-image:url(/assets/images/users/tim-grieve.jpg)" class="rounded-circle profile-photo" alt="Generic placeholder thumbnail"></div>
          </div>
          <div class="name">Tim Grieve</div>
          <div class="bubble">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid autem expedita laborum sed! At autem commodi consequatur doloremque ea eaque, quaerat quibusdam repellendus sequi voluptatibus!</p>
          </div>
          <div class="timestamp"><span>3/22 <br/> 9:30 AM</span></div>
        </div>
      </div>
    </div>
  </div>
</div>