<nav class="col-sm-3 col-md-2 hidden-xs-down sidebar">
  <div class="d-flex flex-column h-100">
    <ul class="nav nav-pills flex-column has-v-scroll">
      <li class="nav-item">
        <a class="nav-link {{ 'active' if isEditor }}
                           {{ 'active' if isReporter }}"
           href="#"><i class="fa fa-file-text-o"></i> Headlines</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-line-chart"></i> Analytics</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-search"></i> Month End Review</a>
      </li>
    </ul>
    <div>
      <a class="btn btn-secondary bg-faded rounded-0 border-right-0 border-bottom-0 border-left-0 d-block text-right">
        <i class="fa fa-angle-double-left"></i>
      </a>
    </div>
  </div>
</nav>
