.bootstrap-select {
  &.show > .dropdown-menu > .dropdown-menu {
    display: block;
  }

  > .dropdown-menu > .dropdown-menu li {
    &.hidden {
      display: none;
    }

    a {
      display: block;
      width: 100%;
      padding: 3px 1.5rem;
      clear: both;
      font-weight: 400;
      color: #292b2c;
      text-align: inherit;
      white-space: nowrap;
      background: 0 0;
      border: 0;
    }
  }
}
