
.icon-checkbox:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-menu:before { content: '\e802'; } /* '' */
.icon-target:before { content: '\e803'; } /* '' */
.icon-touch:before { content: '\e804'; } /* '' */
.icon-phone:before { content: '\e805'; } /* '' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */